@import '../../assets/css/baseVar';

.topic-wrapper {

  .icon-edit {
    width: 36px;
    height: 36px;
    fill: $inactiveColor;
  }

  .topic-body {
    padding: 110px 36px 0;

    .topic-card {
      min-height: 420px;
      padding: 30px 42px 40px;
      box-sizing: border-box;
      color: #fff;
      border-radius: 10px;
      margin-bottom: 30px;

      .topic-card-head {
        text-align: center;

        .icon-cup {
          width: 78px;
          height: 78px;
        }
      }

      .topic-card-title {
        margin: 30px 6px 36px;
        text-align: center;
        font-size: 34px;
      }

      .topic-card-word {
        font-size: $middleSize;
        margin-bottom: 48px;
      }

      .topic-card-foot {
        text-align: center;
        font-size: 24px;
      }
    }
  }
}