.find-wrapper {
  .mine-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 750px;
    z-index: 100;
  }

  // 重写antd-mobile样式
  .am-navbar {
    height: 80px;
    line-height: 80px;
  }
  .am-navbar-title {
    font-size: 34px;
  }
}
