@import '../../../assets/css/baseVar.scss';

.find-wrapper {
  padding-bottom: 120px;

  .find-head-section {
    margin-top: 80px;
    padding-top: 20px;
    width: 750px;
    background: #fff;

    .find-search-bar {
      width: 700px;
      height: 64px;
      margin: 0 auto 10px;
      border: 1px solid #eee;
      border-radius: 32px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 10px 6px #eee;

      .icon-search {
        margin: 0 20px;
        width: 34px;
        height: 34px;
        fill: #666;
      }
      .search-bar-text {
        border-left: 1px solid $inactiveColor;
        color: $inactiveColor;
        font-size: 24px;
        padding-left: 20px;
      }
    }

    .find-head-tab {
      height: 140px;
    }
  }

  .find-main-section {
    background: #fff;

    .find-topic {
      margin-bottom: 40px;

      .topic-card {
        margin: 20px 30px 0;
        padding-bottom: 20px;
        border-radius: 16px;
        background-color: #f3f3f3;
        box-shadow: 0 0 10px 4px #f3f3f3;
        border: 1px solid #f1f1f1;

        .am-card {
          background-color: #f3f3f3;
        }
        .am-card::before {
          content: '';
          border: none;
        }
      }
      .topic-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 30px;
      }
    }

    .find-category {

      .category-box {
        margin: 10px 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .find-subject {
      margin-bottom: 30px;

      .subject-box {
        margin: 10px 30px 0;
        display: flex;
        justify-content: space-between;

        img {
          width: 320px;
          max-height: 160px;
          height: auto;
          border-radius: 20px;
        }
      }
    }

    .find-hot-novel, .find-recent-share {

      .hot-novel-box, .recent-share-box {
        margin: 10px 30px 0;

        .item-share {
          color: $inactiveColor;

          strong {
            color: $linkColor;
            font-weight: normal;
          }
        }
      }
    }

    .find-analysis, .find-hot-book {
      margin-bottom: 30px;
    }
    .analysis-box, .hot-book-box {
      margin: 10px 30px 0;
      display: flex;
      justify-content: space-between;
    }

    .find-book-list {

      .book-list-box {
        margin: 10px 30px 0;
      }
    }
  }
}
