.register-wrapper {
  width: 750px;
  height: 100vh;
  background: #fff;

  .register-body {
    padding: 40px 160px 0;
    box-sizing: border-box;
    text-align: center;
  }

  .icon-book-logo {
    width: 220px;
    height: 220px;
    fill: #333;
  }
}
