.book-tag-wrapper {

  .book-tag-img {
    border-radius: 8px;
  }
  .book-tag-small {

  }
  .book-tag-middle {
    width: 150px;
    max-height: 210px;
  }
  .book-tag-large {
    width: 200px;
    max-height: 280px;
  }
  .book-tag-huge {

  }

  .book-title {
    width: 100%;
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
  }
  .title-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.wrapper-width-small {

}
.wrapper-width-middle {
  width: 150px;
}
.wrapper-width-large {
  width: 200px;
}
.wrapper-width-huge {

}
