@import '../../../assets/css/baseVar';

.search-result-wrapper {

  .search-result-head {
    text-align: center;
    padding: 50px 0;

    h4 {
      margin: 0 0 20px;
      font-size: $largeSize;
      font-weight: normal;
    }

    span {
      color: $inactiveColor;
    }
  }

  .search-result-list {

    .list-title {
      line-height: 60px;
      background-color: $bgColor;
      padding-left: 20px;
    }
    .list-items {
      padding: 30px;
    }
  }

  .search-no-result {
    padding-top: 200px;

    .no-result-wish {
      margin: 0 auto;
      width: 260px;
      line-height: 260px;
      border-radius: 50%;
      box-shadow: 0 0 8px 8px #ddd;
      text-align: center;
      font-size: $hugeSize;
      color: $activeColor;
    }
  }
}
