@import '../../assets/css/baseVar';

.reader-wrapper {

  .page-content {
    position: absolute;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    touch-action: pan-x pan-y;
    will-change: transform;
  }

  .page-mask {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 750px;
    height: 100vh;
    z-index: 10;
  }

  .page-footer {
    position: absolute;
    bottom: 20px;
    right: 40px;
    color: 	#CD950C;
  }

  .page-animation {
    transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    touch-action: pan-x pan-y;
    will-change: transform;
  }

  .page-out {
    transform: translateX(-100%);
  }

  .page-none {
    transform: none;
  }

  .reader-config-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 750px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    justify-content: space-between;
  }
  .config-header-hide {
    transform: translateY(-80px);
  }
  .config-footer-hide {
    transform: translateY(100px);
  }

  .reader-helper-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 640px;
    height: 100vh;
    background-color: #fff;
    z-index: 1001;

    .helper-tab {
      width: 100%;
      height: 100%;
    }
  }
  .helper-left-hide {
    transform: translateX(-100%);
  }

  .reader-helper-progress {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 750px;
    padding: 72px 40px 40px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;

    .helper-progress-index {
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
      color: #222;
    }

    .icon-arrow-left {
      width: 50px;
      height: 50px;
      fill: $inactiveColor;
      margin-right: 30px;
    }
    .icon-arrow-right {
      width: 50px;
      height: 50px;
      fill: $inactiveColor;
      margin-left: 30px;
      transform: rotate(180deg);
    }
  }
  .helper-progress-hide {
    display: none;
  }

  .reader-helper-bright {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 750px;
    padding: 20px 20px 20px 40px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  .reader-helper-word {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 750px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 999;

    .helper-word-item {
      height: 90px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      color: #666;

      .helper-word-title {
        padding: 0 100px 0 60px;
        width: 80px;
        font-size: $middleSize;
      }

      .word-item-main {
        display: flex;
        width: 600px;
        padding: 0 80px 0 60px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
      }
      .bg-option {
        width: 40px;
        height: 40px;
        border: 1px solid $inactiveColor;
      }
    }
  }

  .reader-loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 900;
  }
}
