@import './baseVar';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

img {
  content: normal!important;
}

.common-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  z-index: 999;
}

.common-pull-box {
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
}

// 重写antd-mobile样式
.am-toast {
  font-size: 30px !important;
}
