@import './baseVar';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.common-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  z-index: 100;
}

// 重写antd-mobile样式
.am-navbar {
  height: 80px !important;
  line-height: 80px !important;
}
.am-navbar-title {
  font-size: $hugeSize !important;
}

.am-toast {
  font-size: 30px !important;
}
