@import '../../assets/css/baseVar';

.search-bar-wrapper {
  width: 100%;
  line-height: 50px;
  position: relative;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fafafa;

  input {
    background: transparent;
    width: 100%;
    line-height: 50px;
    border: 0 none;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 60px;
    font-size: $middleSize;
    outline: none;
    -webkit-appearance: none;
  }

  .search-bar-left {
    position: absolute;
    left: 12px;
    top: 6px;

    .icon-search {
      width: 34px;
      height: 34px;
      fill: $inactiveColor;
    }
  }
  .search-bar-right {
    position: absolute;
    right: 20px;
    top: 5px;

    .icon-cross {
      width: 30px;
      height: 30px;
      fill: $inactiveColor;
    }
  }
}
