@import '../../assets/css/baseVar';

.book-detail-wrapper {

  .book-detail-main {
    margin: 80px 0 102px;

    .book-image {
      width: 220px;
      max-height: 308px;
      border-radius: 10px;
    }

    .detail-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      padding-top: 60px;
    }

    .detail-head-collection {
      padding: 10px 0 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        margin-bottom: 20px;
        font-size: 34px;
        font-weight: normal;
      }
      span {
        font-size: 26px;
        color: $inactiveColor;
        margin-bottom: 30px;
      }
    }

    .detail-head-foot {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 80px 40px;
      box-sizing: border-box;
      color: $inactiveColor;
      font-size: $middleSize;

      div {
        display: flex;
        align-items: center;
      }

      span {
        display: inline-block;
        margin-left: 14px;
      }

      .icon-eye, .icon-comment {
        width: 48px;
        height: 48px;
        fill: $inactiveColor;
      }
    }

    .detail-body {

      .am-card {
        background: $bgColor;
        padding: 24px 0;
        min-height: 96px;
      }

      .share-avatar {
        width: 92px;
        height: 92px;
        border-radius: 46px;
        margin-right: 30px;
      }

      .share-user {
        font-size: 32px;
        color: $inactiveColor;

        strong {
          color:$linkColor;
          margin-right: 12px;
        }
      }

      .am-card-header-extra {
        font-size: 28px;
        color: $activeColor;
      }

      .detail-brief {
        padding: 20px 28px 32px;
        box-sizing: border-box;
        background: #fff;

        h4 {
          font-size: 34px;
          font-weight: normal;
          margin: 0 0 24px;
        }

        .brief-body {
          display: flex;
          flex-direction: column;
          width: 100%;
          color: $inactiveColor;
          font-size: 28px;
        }

        .icon-arrow-unfold, .icon-arrow-fold {
          width: 36px;
          height: 36px;
          fill: $inactiveColor;
        }
        .icon-arrow-fold {
          transform: rotate(90deg);
        }
        .icon-arrow-unfold {
          transform: rotate(-90deg);
        }
      }

      .detail-recommend {
        margin-top: 28px;
        padding-bottom: 28px;
        background: #fff;

        .recommend-body {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      .detail-comments {
        margin-top: 28px;

        .comment-body {
          padding-top: 20px;
        }

        .comment-head-note {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          font-size: $smallSize;
          border-radius: 4px;
          padding: 6px 10px;

          .icon-comment-note {
            fill: #fff;
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
        }
      }

    }
  }

  .book-detail-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 750px;
    box-sizing: border-box;
    background: #fff;
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .am-button {
      height: 70px;
      line-height: 70px;
      font-size: $middleSize;
      width: 240px;
    }
    .am-button-primary {
      width: 340px;
    }

    .icon-wish {
      fill: #000;
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
    .icon-borrow {
      fill: #fff;
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }
  }

  .book-detail-tip {
    position: fixed;
    right: 0;
    top: 420px;
    width: 220px;
    height: 100px;
    background: orange;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: $middleSize;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
