@import '../../assets/css/baseVar.scss';

.head-bar-wrapper {
  width: 750px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;

  .head-left {
    font-size: $largeSize;
  }
  .huge-size {
    font-size: $hugeSize;
  }
  .large-size {
    font-size: $largeSize;
  }
  .ml-size {
    font-size: $mlSize;
  }
  .middle-size {
    font-size: $middleSize;
  }
  .small-size {
    font-size: $smallSize;
  }

  .head-right {
    font-size: 24px;
    color: $inactiveColor;
    display: flex;
    align-items: center;
  }

  .icon-arrow-right {
    transform: rotate(180deg);
    fill: $inactiveColor;
    width: 30px;
    height: 30px;
  }
}
