.mine-wrapper {

  .mine-title {
    border-bottom: 1px solid #eee;
  }

  .mine-base {
    margin-top: 98px;

    .mine-base-tab {
      width: 750px;
      height: 120px;
      border-bottom: 1px solid #ddd;
    }

    .vip-tip {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .am-list-item .am-list-line-multiple {
      padding: 40px 12px 40px 0;
    }
    .am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-brief {
      font-size: 28px;
    }
    .am-list-item .am-list-line .am-list-extra {
      font-size: 20px;
      color: red;
    }
    .am-list-item .am-list-line .am-list-arrow {
      width: 30px;
      height: 30px;
    }
  }

  .icon-my {
    fill: #000;
    width: 90px;
    height: 90px;
  }

  .mine-main {
    margin-top: 18px;

    .am-list-item {
      min-height: 88px;
    }
    .am-list-item .am-list-thumb:first-child {
      margin-right: 30px;
    }
    .am-list-item .am-list-line .am-list-content {
      font-size: 30px;
    }
    .am-list-item .am-list-line .am-list-arrow {
      width: 24px;
      height: 24px;
    }
  }
  .mine-main-gap {
    height: 18px;
    background: #f5f5f9;
    position: relative;
  }
  .mine-end-gap {
    height: 118px;
    background: #f5f5f9;
    position: relative;
  }
  .mine-main-gap::after, .mine-end-gap::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #ddd;
    height: 1px;
    top: -1px;
    left: 0;
  }

  .icon-mine-main {
    fill: #999;
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}
