.ranks-wrapper {

  .ranks-body {
    padding-top: 80px;

    .ranks-tab-header {
      position: fixed;
      left: 0;
      top: 80px;
      width: 100vw;
      z-index: 999;
    }

    .ranks-book {
      margin-left: 20px;
      padding-top: 26px;
      border-bottom: 1px solid #eee;
    }
  }
}
